*{
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active{ outline:None }
a:focus,a:active{ outline:None }

nav,footer,header,aside{display: block}

html,body{
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 18px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit}

input::-ms-clear{display: None}
button{cursor: pointer}
button::-moz-focus-inner{padding:0;border:0}
a, a:visited{text-decoration: None}
a:hover{text-decoration: None}
ul li{list-style: None}
img{vertical-align: top}

h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight: 400}

.main_content{
    background: #d6f5f5;
    text-align: center;
}

.main_tag{
    font-family: 'PT Sans', sans-serif;
    color: black;
    font-style: oblique;
    font-weight: 1;
    font-size: 30px;
    text-align: center;
    display: block;
    width: 100%;
    padding: 20px 100px;
}

.title_text{
    font-family: 'Passions Conflict', cursive;
    color: lightgoldenrodyellow;
    text-shadow: 1px 2px 1px antiquewhite;
    font-size: 120px;
    font-style: italic;
    font-weight: 1;
}

.link-read-post{
    text-align: right;
    vertical-align: middle;
    width: 100%;
    height: 50px;
}

.clear{
    text-align: right;
    height: 20px;

    width: 70%;
}

.ss{
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    display: block;
    background-color: antiquewhite;
    height: 30px;
    padding: 0 0 10px 0;
    margin: 0 10% 0 75%;
    width: 20%;
}

.content_text{
    font-family: 'PT Sans', sans-serif;
    color: black;
    font-style: oblique;
    font-weight: 1;
    font-size: 18px;
}

.main_title{
    width: 100%;
    text-align: center;
    padding: 50px 0;
    height: 200px;
    position: relative;
    background-image: url("../images/pattern.svg");
}

.navigation{
    position: sticky;
    z-index: 4;
    top: 0;
}

.Main_block{
    background-image: url("../images/pattern (1).svg");
    height: 2000px;
    width: 100%;
    padding: 0 350px;
}

.buttonrow{
    display: flex;
    flex-wrap: nowrap;
    background-image: url("../images/ButtonNotActive.svg");
    justify-content: space-evenly;
    height: 100px;
}

.Main_information{
    background-color: white;
    background-size: 100% 100%;
    border: 1px solid black;
    box-shadow: 1px 1px 10px 1px antiquewhite;
    width: 100%;
    height: 1000px;
    padding: 10px;
    transition-duration: 1s;
    transition-delay: 500ms;
    text-align: left;
}

.Introduce_text{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 0.7;
}

.A\&A{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 1;
    font-style: oblique;
}

.buttonelement{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 30px;
    font-style: inherit;
    color: black;
    border: 1px solid black;
    padding: 35px 0;
    width: 34%;
    top: 50%;
    background-image: url("../images/ButtonNotActive.svg");
    transition-duration: 700ms;
    transition-timing-function: linear;
}

.buttonelement:hover{
    background-image: url("../images/ButtonActive.svg");
    text-shadow: 1px 1px 1px #663300;   
}
