*{
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active{ outline:None }
a:focus,a:active{ outline:None }

nav,footer,header,aside{display: block}

html,body{
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 18px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit}

input::-ms-clear{display: None}
button{cursor: pointer}
button::-moz-focus-inner{padding:0;border:0}
a, a:visited{text-decoration: None}
a:hover{text-decoration: None}
ul, li{
    list-style: None
}
img{vertical-align: top}

h1,h2,h3,h4,h5,h6{font-size:inherit; font-weight: 400}

.main_content{
    background: antiquewhite;
    text-align: center;
    width: 100%;
    height: auto;
}

.main_tag{
    font-family: 'PT Sans', sans-serif;
    color: black;
    font-style: oblique;
    font-weight: 1;
    font-size: 30px;
    text-align: center;
    display: block;
    width: 100%;
    padding: 20px 100px;
}

.title_text{
    font-family: 'Passions Conflict', cursive;
    color: white;
    text-shadow: 1px 2px 1px #01035b;
    font-size: 120px;
    font-style: italic;
    font-weight: 1;
}

.link-read-post{
    text-align: right;
    vertical-align: middle;
    width: 100%;
    height: 50px;
}

.ss{
    text-align: center;
    line-height: 25px;
    vertical-align: middle;
    display: block;
    background-color: Linen;
    height: 30px;
    width: 20%;
    margin: 5px 10px 0 70%;
    padding: 4px 0 0 2px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: black;
}

.content_text{
    font-family: 'Roboto', sans-serif;
    color: black;
    font-style: oblique;
    font-weight: 1;
    font-size: 18px;
}

.add_comment_button{
    text-align: center;
    line-height: 25px;
    vertical-align: middle;
    display: block;
    background-color: Linen;
    height: 30px;
    width: 20%;
    margin: 5px 10px 0 70%;
    padding: 4px 0 0 2px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: black;
    font-size: 18px;
}

.main_title{
    width: 100%;
    text-align: center;
    padding: 50px 0;
    height: 200px;
    position: relative;
    background-color: lavender;
}

.navigation{
    position: sticky;
    z-index: 4;
    top: 0;
}

.Main_block{
    background-color: white;
    height: 4000px;
    width: 100%;
    padding-left: 400px;
    padding-right: 400px;
}

.buttonrow{
    display: flex;
    flex-wrap: nowrap;
    background-image: url("../images/ButtonNotActive.svg");
    justify-content: space-evenly;
    height: 100px;
}

.Main_information{
    background-color: #FAF7F0;
    border: 1px solid black;
    width: 100%;
    height: 4000px;
    padding: 10px;
    transition-duration: 1s;
    border-top-width: 0;
    transition-delay: 500ms;
    text-align: left;
    position: relative;
    z-index: 2;
}

.Introduce_text{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 0.7;
}

.A\&A{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 1;
    font-style: oblique;
}

.buttonelement{
    display: block;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 30px;
    font-style: inherit;
    color: black;
    border: 1px solid black;
    padding: 35px 0;
    width: 34%;
    top: 50%;
    background-color: white;
    transition-duration: 300ms;
    transition-timing-function: linear;
}

.buttonelement:hover{
    background-color: #9FC9F3;
}

.selected{
    background-color: #d2e6f9;
    padding: 10px 8px 10px 16px;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 24px;
    display: block;
    transition-duration: 300ms;
}

.sidenav{
    width: 300px;
    height: 250px;
    position: absolute;
    z-index: 1;
    left: 0;
    padding-top: 20px;
    padding-left: 5%;
}

.sidenav a{
    padding: 10px 8px 10px 16px;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 24px;
    display: block;
    transition-duration: 300ms;
}

.sidenav a:hover{
    background-color: #9FC9F3;
}



.vofo{
    display: block;
}

.img-article{
    display: block;
    height: 150px;
    width: 150px;
    padding: 0;
    margin: 0;
}

.article_block{
    border-top: 1px solid black;
}

.article-content{
    position: relative;
    margin-left: 30px;
    height: auto;
    width: 200px;
}

.post_title{
    height: 70px;
    width: 100%;
}

.post_text{
    display: block;
}

.AvBio{
    width: 100%;
    height: 1000px;
    background-image: url("../images/AvershinBio.png");
    background-size: 100%;
    transition-duration: 700ms;
}

.AvBio:hover{
    background-image: url("../images/YaroSlaveIcon.jpg");
    background-size: 100%;
}

.form-input{
    border: 1px solid black;
    height: auto;
    margin: 10px;
}
