{% extends 'game/AvAl_base.html' %}

{% block information %}
<form action="{% url 'addcomment' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- title -->
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p>
        <label for="{{ f.id_for_label }}" class="form-label">{{f.label}}: <br></label>
        {{ f }}
    </p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    




    <button type="submit" class="add_comment_button"> Предложить </button>
</form>

{% endblock %}