{% extends 'game/AvAl_base.html' %}

{% block information %}
<p>Главная страница</p>
<p>Лучшая игра про квадраты бля</p>
<br><br><br>

<ul class="list-articles">
{% for p in posts %}
    <li>
        <div class="article_block">
            <p class="first">Категория: {{p.cat}}</p>
            <p class="last">Дата {{p.time_created|date:"d-m-Y H:i:s"}}</p>
            <div class="article-flex">
                {% if p.photo %}
                <img src="{{ p.photo.url }}" alt="no image" class="img-article">
                {% endif %}
                <div>
                    <h2>{{p.title}}</h2>
                    <p>{{p.content|linebreaks|truncatewords:30}}</p>
                </div>

            </div>
            <div class="link-read-post">
                <a class="ss" href="{{ p.get_absolute_url }}">Читать пост</a>
            </div>
        </div>
        <br>
    </li>
{% endfor %}
</ul>


{% endblock %}
