{% load static %}
{% load game_tags %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="shortcut icon" href="../../static/game/images/YaroSlaveIcon.jpg" type="image/jpg">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1200">
    <link rel="stylesheet" type="text/css" href="{% static 'game/css/styles.css' %}"/>
    <title>Avershin&Alcohol</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&family=PT+Sans:ital@1&family=Passions+Conflict&family=Raleway:ital,wght@1,100&family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<div class="main_content">

    <!-- logo -->
    <div class="main_title">
        <div class="title_text">
            Avershin & Alcohol
        </div>
    </div>

    <!-- top navigation -->
    <div class="navigation">
        <div class="buttonrow">
        {% for m in menu %}
            <a class="buttonelement" href="{% url m.url_name %}">
              <span class="button">
                {{m.title}}
              </span>
            </a>
        {% endfor %}
        </div>
    </div>


    <!-- Side navigation -->
    <div class="sidenav">

        {% if cat_selected == 0 %}
            <a href="#" class="selected">Все категории</a>
        {% else %}
            <a href="{% url 'home' %}">Все категории</a>
        {% endif %}

        {% show_categories cat_selected=cat_selected %}

    </div>



    <div class="Main_block">
        <div class="Main_information">
            <div class="main_tag">{{title}}</div>
            {% block information %}

            {% endblock %}
        </div>
    </div>


</div>

</body>
</html>