{% extends 'game/AvAl_base.html' %}

{% block information %}
<p>Главная страница</p>
<p>Лучшая игра про квадраты бля</p>
<br><br><br>

<ul class="list-articles">
{% for p in posts %}
    <li>
        <div class="article_block">
            <div class="article-flex">
                <div class="post_title">{{p.title}}</div>
                <div class="post_text">
                    {% if p.photo %}
                    <img src="{{ p.photo.url }}" alt="no image" class="img-article">
                    {% endif %}
                    {{p.content|linebreaks|truncatewords:30}}
                </div>
            </div>
            <div class="link-read-post">
                <a class="ss" href="{{ p.get_absolute_url }}">Читать пост</a>
            </div>
        </div>
        <br>
    </li>
{% endfor %}
</ul>


{% endblock %}
