<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="shortcut icon" href="/images/YaroSlaveIcon.jpg" type="image/jpg">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1200">
    <link rel="stylesheet" href="../static/game/css/AvAl_style.css">
    <title>Avershin&Alcohol</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&family=PT+Sans:ital@1&family=Passions+Conflict&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100&family=PT+Sans:ital@1&family=Passions+Conflict&family=Raleway:ital,wght@1,100&display=swap" rel="stylesheet">
</head>
<body>
<div class="main_content">
    <div class="main_title">
        <div class="title_text">
            Avershin & Alcohol
        </div>
    </div>
    <div class="navigation">
        <div class="buttonrow">
            <div class="buttonelement">
              <span class="button">
                  Главная
              </span>
            </div>
            <div class="buttonelement">
              <span class="button">
                  О разработчике
              </span>
            </div>
            <div class="buttonelement">
              <span class="button">
                  Библиотека
              </span>
            </div>
            <div class="buttonelement">
              <span class="button">
                  Регистрация
              </span>
            </div>
        </div>
    </div>

    <div>
        <div class="Main_block">
            <div class="Main_information">
                {% block information %}

                {% endblock %}
            </div>
        </div>
    </div>

</div>

</body>
</html>